:root {
    --primary-clr-grey: #a6a6a6;
    --primary-clr-black: #000;

    --heading-serif: 'Cormorant Garamond', serif;
    --body-serif: 'Barlow Semi Condensed', sans-serif;
    --body2-serif: 'Quicksand', sans-serif;

    --fs-900: 9.375rem; 
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
picture {
    margin: 0;
}

ul,
li {
    list-style: none;
    text-decoration: none;
}

body {
    
}
