:root {
    --primary-clr-grey: #a6a6a6;
    --primary-clr-black: #000;
    --primary-clr-white: #FFF;

    --heading-serif: 'Cormorant Garamond', serif;
    --body-serif: 'Barlow Semi Condensed', sans-serif;
    --body2-serif: 'Quicksand', sans-serif;

    --fs-900: 9.375rem; 
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --fs-100: 0.675rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
picture {
    margin: 0;
}

ul,
li {
    list-style: none;
    text-decoration: none;
}

body {
    font-size: var(--fs-400);
    font-family: var(--body-serif);
    overflow-x: hidden;
}

.flex {
    display: flex;
    gap: 3em;
}

.container {
    margin: 0 auto;
    padding: 0 1.7em;
}

.uppercase {
    text-transform: uppercase;
}

.text-grey {
    color: var(--primary-clr-grey);
}

.text-black {
    color: var(--primary-clr-black);
}

.ff-heading {
    font-family: var(--heading-serif);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}
.fs-300 {
    font-size: var(--fs-300);
}
.fs-200 {
    font-size: var(--fs-200);
}
.fs-100 {
    font-size: var(--fs-100);
}

/* navigation */

.nav__list_bg {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav__bg {
    display: none;
    position: absolute;
    background-color: var(--primary-clr-white);
    height: 100vh;
    width: 100%;
    z-index: 10;
}

.nav_links {
    margin: 1em auto;
    text-align: center;
    letter-spacing: .2em;
    line-height: 3.5em;
    font-weight: 400;
}

.hamburger {
    display: block;
    top: 25px;
    left: 25px;
    position: relative;
}

.close {
    display: none;
    position: absolute;
    top: 25px;
    left: 25px;
}

.logo {
    font-family: var(--heading-serif);
    position: relative;
    top: 30px;
    right: 15px;
    z-index: 10;
}

/* hero section */

.hero_section {
    margin: 10em 0 ;
    z-index: -1;
}

.hero__title {
    margin: 11em 0 0;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: -.02em;
    width: 90%;
}

.grid-container {
    display: grid;
    gap: 2em;
}

.grid-items {
    object-fit: cover;
    max-height:100%;
    max-width: 100%;
}

footer {
    margin: 3em 0 0 ;
}
.socials_list {
    padding: 3em 0 ;
}
.social__link {
    float: left;
    width: 50px;
}

.fa-brands:hover {
    color: var(--primary-clr-grey);
    cursor: pointer;
}

@media (min-width: 768px) and (min-width: 1024px) {
    .nav__list_bg {
        display: none;
    }
    /* nav {
        display: flex;
        box-shadow: none;
    } */

    .logo {
        position: absolute;
        right: 20px;
        border: 1px solid blue;
    }
   

    .hamburger {
        display: none;
    }  

    .hero__title {
        border: 1px solid red;
        max-width: 250px;
    }

    .container {
        margin: 0 auto;
        padding: 0 3em;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3em;
    }

    .grid-items {
        object-fit: cover;
        height: 500px;
        max-height: max-content;
        width: 100%;
        }

}

@media(min-width:1025px){

    .container {
        margin: 0 auto;
        padding: 0 7em;
    }

    nav {
        box-shadow: none;
        border: 1px solid red;
        padding: 5em 7em;
    }

    .nav__list_bg {
        display: flex;
        
    }

    .nav_links_bg {
        margin: 0 15px 0 0 ;
        letter-spacing: 5px;
    }
}